.venv/
.vscode/
__pycache__/
*.py[cod]
scangen/
uv.lock

logs/*
!logs/.gitkeep

checkpoints/*
!checkpoints/.gitkeep
!checkpoints/ALL_CNN_C_c100_rggb_h5_bn_refstyle.pth

datasets/*
!datasets/.gitkeep
*.h5
*.pth
*.tar.gz
!checkpoints/ALL_CNN_C_c100_rggb_h5_bn_refstyle.pth
